<div class="row valign-wrapper" style="justify-content:space-between">
  <div class="col s12 valign-wrapper" style="justify-content:space-between">
    <div class="left-align" style="padding:0px 5px;">
      <h1>Your Portfolio</h1>
      <div style="padding:0px 10px;">
      <h5><%="#{current_user.first_name} #{current_user.last_name}"%></h5>
      <h5>Balance: <%= current_user.balance%> USD</h5>
      </div>
    </div>
    <div class="center-align">
      <%= link_to "+", new_stock_path, class:"btn-floating btn-large waves-effect waves-light red", data:{turbo:false} %>
    </div>
  </div>
</div>

<div class="row">
  <div id="stocks">
    <% @stocks.each do |stock| %>
      <%= render stock %>
    <% end %>
  </div>
</div>
