<div style="height:60vh; display:flex; align-items:center;">
    <div>
    <h2>Account <%=current_user.first_name%> <%=current_user.last_name%> is inactive</h2>
    <p>Please contact an Administrator for assistance</p>
    </div>
</div>